*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0%;
    display: flex;
}

.contenido{
    position: absolute;
    border: 1px;
    max-width: 100%;
    max-height: 50%;
    top: 5%;
    bottom: 0%;
    left: 5%;
    right: 5%;
    border-style: solid;
}

.imagen{
    width: 20rem;
    height: 100%;
}

.textoaladerecha{
    margin: 3%;
    margin-top: 3%;
    max-width: 60%;
    flex-direction: column;
}

#p1{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5%;
    max-width: 90%;
    margin-top:0%;
}

#p2{
    margin-bottom: 5%;
    max-width: 90%
}

#firma{

}

#foto-firma{
    position: relative;
    left: 1%;
    top: 0.4rem;
    width: 20%;
    height: 26%;
}

#nombre-fecha{
    
}

#nombre{
    position: relative;
    right: 25%;
    top: 6%;
    font-weight: bold;
}

#fecha{
    position: relative;
    top: 16%;
    right: 87%;
}

#vinculo{
    position: absolute;
    right: 10%;
    width: 10%;
    height: 10%;
}