*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
}

.contenido{
    max-width: 100%
    
}

.imagen{
    max-width: 40%;
}

.textoaladerecha{
    margin: 8%;
    max-width: 60%;
    flex-direction: column;
}

#p1{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5%;
    max-width: 90%
}

#p2{
    margin-bottom: 5%;
    max-width: 90%
}

#p3{

}

#p3-1{

}

#p3-2{
    flex-direction: column;
}

#p3-2-1{
    font-weight: bold;
}

#p3-2-2{
    
}

#p3-3{
    position: relative;
    right: 0%;
}