    *{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin: 0%;
    }

    .contenido{
        width: 100%;
        height: 100%;
        display: inline-flex;
    }

    .imagen{
        width: 20%;
        height: 30%;
    }

    .textoaladerecha{
        margin-top:0%;
        margin: 8%;
        max-width: 60%;
        flex-direction: column;
    }

    #p1{
        font-size: 120%;
        font-weight: bold;
        margin-bottom: 5%;
        max-width: 90%;
        margin-top:0%;
    }

    #p2{
        margin-bottom: 5%;
        max-width: 90%
    }

    #firma{

    }

    #foto-firma{
        width: 10%;
        height: 13%;
    }

    #nombre-fecha{
        
    }

    #nombrefecha.nombre{
        position: absolute;
        left: 10%;
    }

    #nombrefecha.fecha{
        position: absolute;
        left: 20%;         
    }

    #vinculo{
        position: absolute;
        right: 0%;
        width: 10%;
        height: 10%;
    }