* {
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#c1{
    position: absolute;
    border: red;
    height: 50%;
    width: 33.3%;
    background-color: #e2862d; /*verde y azul*/    
}

#c2{
    position: absolute;
    left: 33.3%;
    border: red;
    height: 50%;
    width: 33.3%;
    background-color:#286873; /*verde y azul*/
}

#c3{
    position: absolute;
    left: 66.6%;
    border: red;
    height: 50%;
    width: 33.3%;
    background-color: #17403e;    /*verde y azul*/
}

h1 {
    margin: 10%;
    color:white;
}

p{
    margin-left: 10%;
    max-width: 80%;
    color:white;
}

button{
    position: relative;
    border-radius: 20%;
    top: 30%;
    left: 20%;
    height: 10%;
    width: 60%;
}